image boot.vfat {
    vfat {
        files = {
            "MLO",
            "u-boot.img",
            "zImage",
            "boot.scr",
            "uboot.env",
            "am335x-evm.dtb",
            "am335x-evmsk.dtb",
            "am335x-bone.dtb",
            "am335x-boneblack.dtb",
            "am335x-bonegreen.dtb",
            "am335x-boneblack-wireless.dtb",
            "am335x-bonegreen-wireless.dtb",
            "am335x-bonegreen-eco.dtb",
        }
    }
    size = 16M
}

image data.ext4 {
    ext4 {
        label = "data"
    }
    size = 2048M
}

image sdcard.img {
    hdimage {
    }

    # Partition 1: FAT32 Bootloader/Kernel
    partition u-boot {
        partition-type = 0xC
        bootable = "true"
        image = "boot.vfat"
    }

    # Partition 2: RootFS Slot A (Active OS)
    partition rootfs_A {
        partition-type = 0x83
        image = "rootfs.ext4"
        size = 512M
    }

    # Partition 3: RootFS Slot B (Passive Upgrade Slot)
    partition rootfs_B {
        partition-type = 0x83
        image = "rootfs.ext4"
        size = 512M
    }

    # Partition 4: Persistent Data
    partition data {
        partition-type = 0x83
        image = "data.ext4"
    }
}
